   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    background: #f7f7f7;
  }
  /* header */
  header {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
  }

  .logo {
    width:100px;

  }
nav{
  float: left;
  width:650px;
  margin-right:300px;
}
  nav ul {
    list-style: none;
    gap: 50px;
    flex-wrap: wrap;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }

  .header-right {
    align-items: center;
    gap: 10px;
    margin-right:50px;
  }
.search-input{
  width:500px;
}
  .search-box input {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
     width:500px;
  }

  .cart {
    font-size: 20px;
    background: brown;
    border-radius: 6px;
    cursor: pointer;
  }

  /* ===== HERO ===== */
  .hero {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
  }

  .hero img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }

  .hero-text {
    max-width: 500px;
    margin: 10px;
  }

  .hero-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .hero-text p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .hero-text button {
    padding: 10px 20px;
    border: none;
    background: brown;
    color: #fff;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
  }

  /* Categories */
  .categories {
    padding: 40px 20px;
    text-align: center;
  }

  .categories h2 {
    margin-bottom: 20px;
  }

  .cat-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .cat {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
  }

  .cat:hover {
    transform: scale(1.05);
  }

  .cat img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  /* product-section */
  .products {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    transition: 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card img {
    width: 100%;
    border-radius: 10px;
  }

  .card h3 {
    margin: 10px 0 5px;
  }

  .card p {
    color: gray;
    font-size: 0.9rem;
  }

  .card button {
    background: brown;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
  }
@media (max-width:480px){
  *{
    width:100%;
  }
}
 @media (max-width: 768px) {
  *{
    width:100%;
  }
    nav ul {
      justify-content: center;
    }

    .hero-text h1 {
      font-size: 1.6rem;
    }

    .header-right {
      flex-basis: 100%;
      justify-content: center;
      margin-top: 10px;
    }
  }
  button{
    background-color:#7c0f0f;
    color:white;
  }
  .section-custom-announcement-bar.custom-marquee {
    align-items: center;
    height: 36px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    background:#222222; 
    color:#ffffff; 
  }
  .section-custom-announcement-bar.custom-marquee a {
    color:#ffffff; 
    text-decoration: none;
  }
  .section-custom-announcement-bar.custom-marquee .track {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: marquee 22s linear infinite;
  }
  .section-custom-announcement-bar.custom-marquee .content {
    margin-left: 40px;
    font-size: 12px;
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-20%);
    }
  }