body{
  cursor: pointer;
}
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(28, 3, 3);
  width:100%;
  height:80px;
  z-index:1000;

}
.logo{
  width:100px;
  height:20px;
  cursor: pointer;


}
.navbar{
  display:flex;
  gap:30px;
  width:500px;
  background-color:rgb(74, 66, 66);
  height:40px;
  border-radius:5px;
  align-items: center;
  padding-left:50px;
  justify-content: space-between;
}
.nav-links li a:hover{
  transition: color 0.1s ease;
}
.lists:hover{
  color:orange,#ff0000,#99ff00,#00ccff;
}
#hamburger{
  display:none;
}
@media (max-width: 480px) {
  header{
    width:1500px;
  }
 .navbar{
      display:none;
    }
    #hamburger{
      display:block;
      cursor: pointer;
    }
    .nav{
      display:none;
    }
    .mg{
      display:block;
      background-image: url(' https://www.hushpuppies.com.pk/cdn/shop/files/Mobile-Banner_600x.jpg?v=1762453780&width=600');
      width:100%;
      height:100%;
    }
}
.navbar a{
  text-decoration: none;
  color:black;
  font-size:16px;
  font-weight:500;
}
button{
  background-color:#A52A2A;
  color:white;
  border:none;
  border-radius:20px;
  cursor: pointer;
}
.logo img{
  width:100px;
  height:cover;
  margin-left:10px;
}
.hero-section{
  background-color: #000000;
  width:100%;
  height:620px;
}
.hero-text{
  float:left;
  position: relative;
  top: 150px;
  left:100px;
  color:white;
  width:500px;
}
.hero-image{
  float:right;
  position: relative;
  top: -238px;
  margin-left:800px;
  height:600px;

}
.text1{
  font-size:20px
}
.text2{
  font-size:36px;
  font-weight:bold;
}
.text3{
  font-size:16px;
  color:gray;
  font-weight: bold;
}

.section-custom-announcement-bar.custom-marquee {
    display: flex;
    align-items: center;
    height: 36px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    background:#222222; 
    color:#ffffff; 
  }
  .section-custom-announcement-bar.custom-marquee a {
    color:#ffffff; 
    text-decoration: none;
  }
  .section-custom-announcement-bar.custom-marquee .track {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: marquee 22s linear infinite;
  }
  .section-custom-announcement-bar.custom-marquee .content {
    margin-left: 40px;
    font-size: 12px;
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-20%);
    }
  }
/* .lists ul a>li{
    color:black;
}
.hero{
  width:100%;
  height:500px;
  background-size: cover;
  background-position: center;
}
.hero-links>a{
text-decoration: none;
color:black;
}
.text-center{
 font-size:14px;

}
  .text{
    font-size: 48px;
  }
  .hero-links{
    margin-top: 50px;
  }
  .badge{
    float:left;
    width: 100px;
    height:30px;
    background-color:  #A52A2A;
    font-size: 18px; 
  }
  .card-body{
    box-shadow:lg p-3 mb-5 bg-body-tertiary rounded;
  }
  @media (max-width: 768px) {
    #hamburger{
      display:block;
      cursor: pointer;
    }
    .nav{
      display:none;
    }
    .mg{
      display:block;
      background-image: url(' https://www.hushpuppies.com.pk/cdn/shop/files/Mobile-Banner_600x.jpg?v=1762453780&width=600');
      width:100%;
      height:100%;
    } */
    .bt{
      display:flex;
      flex-wrap: wrap;
      display: block;
    }
  button{
    background-color: #A52A2A;
    color:white;
  }
  .client-Section{
    width:100%;
    height:150px;
    justify-content: center;

  }
  .image-logo{
    width:5%;
  }
 .logo-track{
    display: flex;
    width: 200%;
    animation: scrollLogos 20s linear infinite;
  }
   .logo-track:hover{
     animation-play-state: paused; 
   }


  @keyframes scrollLogos {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}