   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    overflow-x: hidden;
  }
  /* header */
  header {
    width:100%;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
  }

  .logo {
    width:100px;
    cursor: pointer;

  }
nav{
  display:flex;
  margin-right:300px;
  justify-content:center;
  align-items:center;
}
.list-unstyled{
padding:6px 10px 3px 10px;
}

.Signup-btn{
  padding:8px;
  color:white;
border-radius:4px;

}
.Signup-btn:hover{
  color:#ffffff;
}
.login-btn{
  padding:8px;
  color:white;
  border-radius:4px;

}
.login-btn:hover{
  color:#ffffff;
}
  nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  .search-box input {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
     width:400px;
  }
  .Account{
  top: -50px;
}
  .cart {
    font-size: 20px;
    background: brown;
    border-radius: 6px;
    cursor: pointer;
  }
  .hero-section{
    width:100%;
  }
  .hero {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    text-align: center;
    width: 100%;
  }


  .hero img {
    width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }

  .hero-text {
    width: 50%;
    margin:auto  auto  auto 10px;
    justify-content: center;
    left:60px;
  }

  .hero-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .hero-text p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .hero-text button {
    padding: 10px 20px;
    border: none;
    background: brown;
    color: #fff;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
  }

  /* Categories */
  .categories {
    padding: 40px 20px;
    text-align: center;
  }

  .categories h2 {
    margin-bottom: 20px;
    margin-right:1000px;
    width:100%;
  }
  .card{
    height:100px;
  }
  .card-body{
    top:100px;
     height:100px;
  }
  .card-title{
    top:-100px;
  }
  .card-text{
    top:-100px;
  }
  .AddToCart{
    top:-100px;
  }

  .cat-container {
    width:100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .cat {
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    cursor: pointer;
  }

  .cat:hover {
    transform: scale(1.05);
  }

  .cat img {
    width: 100%;
    border-radius: 8px;
  }
  /* product-section */
  .products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: auto;
  }

  .card {
    background: white;
    height:550px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    padding: 30px;
    transition: 0.3s;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card img {
    width: 100%;
    border-radius: 10px;
  }
.AddToCart{
}
  .card button {
    background: brown;
    color: white;
    border: none;
    width:30%;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
  }
  button{
    background-color:#7c0f0f;
    color:white;
  }
marquee:hover{
  animation-play-state: paused;
  cursor: pointer;
}
.Shop-btn{
  background-color:brown;
  width:100px;
border-radius:4px;
padding: 8px;
left:300px;
  margin: auto;
}
@media screen and (max-width: 300px) and (min-width:200){
  body{
    width:500px;
  }
  header {
    width:500px;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }
.Client-Section{
  display:none;
}
 .Account{
  top: -100px;
}
  .logo {
    width: 80px;
    margin-bottom: 10px;
  }
.search-box{
  display:block;
}
  nav {
    width: 100%;
    margin: 0;
    display:none;
  }

  nav {
    display: none;
  }
  #hamburger{
    display:block;
    position:absolute;
    top:30px;
    left:400px;
  }
  .Account{
    margin-left:100px;
  }
  .Signup-btn{
  padding:8px;
  color:white;
border-radius:4px;

}
.Signup-btn:hover{
  color:#ffffff;
}
.login-btn{
  padding:8px;
  color:white;
  border-radius:4px;

}
.login-btn:hover{
  color:#ffffff;
}
  .search-box input {
    width: 100%;
    margin: 10px 0;
  }
  
  .hero-text{
    left:60px;
  }
   .hero-image{
    top:-50px;
    left:10px;
    justify-content: center;
   }
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text,
  .hero img {
    width: 100%;
  }

  .categories h2 {
    margin-right: 0;
  }

  .cat-container {
    justify-content: center;
    margin: 0;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .community {
    margin-left: 0 !important;
  }

}
  /* Small Mobile Devices (max-width: 480px) */
@media screen and (max-width: 480px) {
  body{
    width:600px;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }
.Client-Section{
  display:none;
}
 .Account{
  top: -100px;
}
  .logo {
    width: 80px;
    margin-bottom: 10px;
  }
.search-box{
  display:block;
}
  nav {
    width: 100%;
    margin: 0;
    display:none;
  }

  nav {
    display: none;
  }
  #hamburger{
    display:block;
    position:absolute;
    top:30px;
    left:400px;
  }
  .Account{
    margin-left:100px;
  }
  .Signup-btn{
  padding:8px;
  color:white;
border-radius:4px;

}
.Signup-btn:hover{
  color:#ffffff;
}
.login-btn{
  padding:8px;
  color:white;
  border-radius:4px;

}
.login-btn:hover{
  color:#ffffff;
}
  .search-box input {
    width: 100%;
    margin: 10px 0;
  }
  .Shop-btn{
    top:-10px;

  }
  .hero-text{
    left:60px;
  }
   .hero-image{
    top:-50px;
    left:10px;
    justify-content: center;
   }
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text,
  .hero img {
    width: 100%;
  }

  .categories h2 {
    margin-right: 0;
  }

  .cat-container {
    justify-content: center;
    margin: 0;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .community {
    margin-left: 0 !important;
  }

}

/* Tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav {
    width: 100%;
    display:none;
  }
.hamburger{
  display:block;
 width:30px;
 font-size: 32px;
}
  .search-box input {
    width: 80%;
  }

  .hero {
    flex-direction: column;
  }

  .hero-text,
  .hero img {
    width: 100%;
  }

  .cat-container {
    justify-content: center;
    margin-left: 0;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }

  .cards .d-flex {
    justify-content: center;
  }
  .Shop-btn{
    top:-300px;
  }
}

/* Laptops (max-width: 992px) */
@media screen and (max-width: 992px) {
  nav {
    width: 100%;
    margin: 10px 0;
  }

  .navbar-items {
    display:block;
    flex-wrap: wrap;
    justify-content: center;
  }
 .Account{
    top:100px;
    flex-direction: row-reverse;
  }
  .cart{
    top:-60px;
  }
  .search-box{
    top:-100px;
    left:-50px;
  }
.Signup-btn{
  padding:8px;
  color:white;
border-radius:4px;
 top:-60px;

}
.Signup-btn:hover{
  color:#ffffff;
}
.login-btn{ 
  padding:8px;
  color:white;
  border-radius:4px;
   top:-60px;

}
.login-btn:hover{
  color:#ffffff;
}
  .hero {
    padding: 30px 10px;
  }

  .hero img {
    max-width: 300px;
  }

  .cat-container {
    justify-content: center;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
   .Shop-btn{
    top:-50px;
    left:400px;
  }
}
@media screen and (max-width: 1000px){
  .Shop-btn{
    top:-50px;
  }
}
/* Large Screens (max-width: 1200px) */
@media screen and (max-width: 1200px) {
  nav {
    margin-right: 0;
    width: 100%;
  }
  .Account{
    top:-100px;
  }
.Signup-btn{
  color:white;
border-radius:4px;


}
.Signup-btn:hover{
  color:#ffffff;
}
.login-btn{
  padding:8px;
  color:white;
  border-radius:4px;

}
#hamburger{
  invisible:hidden;
}
.login-btn:hover{
  color:#ffffff;
}
  .hero {
    justify-content: center;
  }
   .Shop-btn{
    top:300px;
    left:100px;
  }
  .hero-text{
    left:100px;
  }
   .hero-image{
    top:-50px;
    left:10px;
    justify-content: center;
   }
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    width: 60%;
  }

  .hero img {
    width: 40%;
  }
}
/* footer */
